// Container
$container-background-color: blue;
$container-padding-top: 56px;

// Sidebar
$sidebar-background-color: orange;
$sidebar-padding: 10px;
$sidebar-image: '../../assets/img/bg.jpg';
$sidebar-image-opacity: .5;

// Content
$content-background-color: orange;
$content-padding: 10px;
