// General
$font-family-primary: 'Roboto', sans-serif;
$my-gutter: 22px;
$border-color: #d9d9d9;

// Container
$container-background-color: none;
$container-padding-top: 56px;

// Sidebar
$sidebar-background-color: white;
$sidebar-background: linear-gradient(to bottom, #fe8c00 , #f83600);
$sidebar-width: 250px;
$sidebar-sm-width: 180px; // Reponsive
$sidebar-padding: 10px 15px 60px 15px;
$sidebar-image: '../../assets/img/sidebar-3.jpg';
$sidebar-image-opacity: .2;

// nav vertical
$nav-vertical-hover-bgcolor-opacity: .1;

$nav-vertical-padding: 0;
$nav-vertical-link-margin-bottom: 5px;
$nav-vertical-font-color: #FFF;
$nav-vertical-link-padding: 15px;
$nav-vertical-font-size: 13px;
$nav-vertical-font-weight: bold;
$nav-vertical-text-tranform: uppercase;
$nav-vertical-letter-spacing: 0;
$nav-vertical-hover-font-color: #FFF;
$nav-vertical-hover-bgcolor: rgba(255, 255, 255, $nav-vertical-hover-bgcolor-opacity);
$nav-vertical-active-font-color: #FFF;
$nav-vertical-active-bgcolor: rgba(255, 255, 255, ($nav-vertical-hover-bgcolor-opacity + .1));
$nav-vertical-hover-border-radius: 5px;

$nav-vertical-subnav-link-margin-bottom: $nav-vertical-link-margin-bottom;
$nav-vertical-subnav-font-color: $nav-vertical-font-color;
$nav-vertical-subnav-link-padding: 10px 10px 10px 58px;
$nav-vertical-subnav-font-size: $nav-vertical-font-size + 2;
$nav-vertical-subnav-hover-font-color: $nav-vertical-hover-font-color;
$nav-vertical-subnav-hover-bgcolor: $nav-vertical-hover-bgcolor;
$nav-vertical-subnav-active-font-color: $nav-vertical-active-font-color;
$nav-vertical-subnav-active-bgcolor: $nav-vertical-active-bgcolor;
$nav-vertical-subnav-hover-border-radius: $nav-vertical-hover-border-radius;

// Content
$content-background-color: #E7E7E7;
$content-padding: 0;
